@use '../../styles/colors';

.editor-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-primary;
}

.editor-container__editor {
  flex: 1;
  overflow: hidden;
}

