.test-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #252526;
  color: #d4d4d4;

  .test-editor-list {
    flex: 0 0 300px;
    border-bottom: 1px solid #444;
    overflow: hidden;
  }

  .test-editor-panel-wrapper {
    flex: 1;
    overflow: hidden;
  }
}
