@use '../../../styles/colors';

.execution-options {
  .option-group {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      font-size: 0.85rem;

      span {
        min-width: 80px;
      }
    }
  }
}
