.input-panel {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #444;

  h3 {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    color: #ccc;
  }
}

.interactive-input-group {
  display: flex;
  gap: 0.5rem;

  .interactive-input {
    flex: 1;
    padding: 0.5rem;
    background-color: #3c3c3c;
    color: #d4d4d4;
    border: 1px solid #555;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.85rem;

    &:focus {
      outline: none;
      border-color: #007acc;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .btn-send {
    padding: 0.5rem 1rem;
    background-color: #0e7a0d;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 0.85rem;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: #0f9d0c;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.batch-input {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  background-color: #3c3c3c;
  color: #d4d4d4;
  border: 1px solid #555;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.85rem;
  resize: vertical;

  &:focus {
    outline: none;
    border-color: #007acc;
  }
}
