.split-pane {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.dragging {
    cursor: col-resize;
    user-select: none;

    * {
      user-select: none;
    }
  }
}

.split-pane-left,
.split-pane-right {
  overflow: auto;
  height: 100%;
}

.split-pane-divider {
  width: 5px;
  background-color: #444;
  cursor: col-resize;
  flex-shrink: 0;

  &:hover {
    background-color: #666;
  }
}
